name: Build EZ-Theme
on:
workflow_dispatch: # 手动触发
jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Checkout code
uses: actions/checkout@v3
- name: Setup Node.js
uses: actions/setup-node@v3
with:
node-version: 18
- name: Install dependencies
run: |
npm install
1
npm install defu --save
npm install --legacy-peer-deps
- name: Build project
run: npm run build
- name: Upload artifact
uses: actions/upload-artifact@v4
with:
name: ez-theme-dist
path: dist
